.list {
  max-height: 540px;
  overflow-y: scroll;
}

.item {
  border: 1px solid black;
  background: rgba(silver, 40%);
  padding: 5px;
  margin-bottom: 5px;

  button {
    text-align: left;
  }
}

.token {
  display: flex;

  img {
    margin-right: 5px;
  }
}
