.search {
  background: rgba(silver, 40%);
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
}

.list {
  max-height: 540px;
  overflow-y: scroll;
}

.item {
  border: 1px solid black;
  background: rgba(silver, 40%);
  padding: 5px;
  margin-bottom: 5px;
}
