.token {
  display: flex;

  img {
    margin-right: 5px;
  }

  section {
    flex: 1;
  }

  header {
    display: flex;
    justify-content: space-between;
  }

  button {
    background: silver;
  }
}
